@font-face {
  font-family: "redHatText";
  src: url(../assets/fonts/RedHatText-VariableFont_wght.ttf);
}

html {
  font-family: "redHatText", system-ui, sans-serif;
}

main {
  width: 80%;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 70% 30%;
  .product-list {
    border: 2px solid red;
    h1 {
      margin: 10px 0;
    }
  }
  .cart-section {
    border: 2px solid blue;
  }
}

.list-grid {
  display: grid;
  .food-card {
    max-width: 150px;
  }
}
