@font-face {
  font-family: "redHatText";
  src: url(../assets/fonts/RedHatText-VariableFont_wght.ttf);
}
html {
  font-family: "redHatText", system-ui, sans-serif;
}

main {
  width: 85%;
  margin: 10px auto;
  padding: 15px;
  display: grid;
  grid-template-columns: 65% 35%;
}
main .product-list h1 {
  margin: 10px 0;
}

main {
  background-color: hsl(13, 31%, 94%);
}

.list-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  margin: 0 auto;
}
.list-grid .food-card {
  margin: 0 auto;
}
.list-grid .food-card .image-container {
  position: relative;
  margin-bottom: 15px;
}
.list-grid .food-card .image-container img {
  border-radius: 5px;
}
.list-grid .food-card .image-container button {
  all: unset;
  text-align: center;
  display: flex;
  justify-content: space-around;
  width: 50%;
  font-size: 0.8rem;
  background-color: hsl(20, 50%, 98%);
  border: 1px solid hsl(14, 86%, 42%);
  border-radius: 20px;
  padding: 8px 15px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  z-index: 100;
  cursor: pointer;
}
.list-grid .food-card .image-container button:hover {
  background-color: hsl(14, 86%, 42%);
  color: hsl(20, 50%, 98%);
}
.list-grid .food-card .details {
  margin-top: 30px;
}
.list-grid .food-card .details p {
  color: hsl(7, 20%, 60%);
}
.list-grid .food-card .details p.food-name {
  color: black;
  font-size: 1.1rem;
}
.list-grid .food-card .details p.price {
  color: hsl(14, 86%, 42%);
}

.cart-section .cart-container {
  border-radius: 8px;
  padding: 10px;
  width: 90%;
  background-color: hsl(20, 50%, 98%);
  margin: 10px 20px;
}
.cart-section .cart-container h4 {
  color: hsl(14, 86%, 42%);
}
.cart-section .cart-container .inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-section .cart-container .inner-container .js-cart-items-container {
  width: 100%;
}
.cart-section .cart-container .inner-container p {
  font-size: 0.8rem;
}

.cart-items {
  border-bottom: 1px solid rgba(0, 0, 0, 0.516);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
}
.cart-items .cart-item-details .name {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 5px;
}
.cart-items .cart-item-details .qty {
  font-size: 1.2rem;
  color: hsl(14, 86%, 42%);
}
.cart-items .cart-item-details .rate,
.cart-items .cart-item-details .amount {
  font-size: 1.2rem;
  color: hsl(7, 20%, 60%);
}
.cart-items .remove-cart-item-btn {
  border: 1px solid black;
  border-radius: 50%;
  padding: 3px;
}
.cart-items .remove-cart-item-btn:hover svg {
  fill: white;
}

.cart-svg {
  pointer-events: none;
}

.total-container {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.total-container h5 {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.475);
}

.delivery {
  display: flex;
  gap: 5px;
  width: 80%;
  border-radius: 5px;
  padding: 15px 10px;
  background-color: hsl(13, 31%, 94%);
  margin: 10px 0;
  font-size: 1.4rem;
}
.delivery .carbon {
  font-size: 1.3rem;
}

.confirm-order-btn {
  all: unset;
  text-align: center;
  display: flex;
  justify-content: space-around;
  width: 50%;
  font-size: 0.8rem;
  background-color: hsl(20, 50%, 98%);
  border: 1px solid hsl(14, 86%, 42%);
  border-radius: 20px;
  padding: 8px 15px;
  margin: 10px 0;
  cursor: pointer;
}
.confirm-order-btn:hover {
  background-color: hsl(14, 86%, 42%);
  color: hsl(20, 50%, 98%);
}

.icon-shopping-cart,
.close-svg {
  pointer-events: none;
  fill: hsl(14, 86%, 42%);
}
.icon-shopping-cart:hover,
.close-svg:hover {
  fill: white;
}

@media (max-width: 599px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}/*# sourceMappingURL=style.css.map */