@font-face {
  font-family: "redHatText";
  src: url(../assets/fonts/RedHatText-VariableFont_wght.ttf);
}
html {
  font-family: "redHatText", system-ui, sans-serif;
}

main {
  width: 85%;
  margin: 10px auto;
  padding: 15px;
  display: grid;
  grid-template-columns: 65% 35%;
}
main .product-list h1 {
  margin: 10px 0;
}

main {
  background-color: hsl(13, 31%, 94%);
}

.list-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  margin: 0 auto;
}
.list-grid .food-card {
  margin: 0 auto;
}
.list-grid .food-card .image-container {
  position: relative;
  margin-bottom: 15px;
}
.list-grid .food-card .image-container img {
  border-radius: 5px;
}
.list-grid .food-card .image-container button {
  all: unset;
  text-align: center;
  display: flex;
  justify-content: space-around;
  width: 50%;
  font-size: 0.8rem;
  color: hsl(14, 86%, 42%);
  background-color: hsl(20, 50%, 98%);
  border: 1px solid hsl(14, 86%, 42%);
  border-radius: 20px;
  font-weight: bold;
  padding: 8px 15px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  z-index: 100;
  cursor: pointer;
}
.list-grid .food-card .image-container button .icon-shopping-cart {
  fill: hsl(14, 86%, 42%);
}
.list-grid .food-card .image-container button:hover {
  background-color: hsl(14, 86%, 42%);
  color: hsl(20, 50%, 98%);
}
.list-grid .food-card .image-container button:hover .icon-shopping-cart {
  fill: white;
}
.list-grid .food-card .details {
  margin-top: 30px;
}
.list-grid .food-card .details p {
  color: hsl(7, 20%, 60%);
}
.list-grid .food-card .details p.food-name {
  color: black;
  font-size: 1.1rem;
}
.list-grid .food-card .details p.price {
  color: hsl(14, 86%, 42%);
}

.cart-section .cart-container {
  border-radius: 8px;
  padding: 10px;
  width: 90%;
  background-color: hsl(20, 50%, 98%);
  margin: 10px 20px;
}
.cart-section .cart-container h4 {
  color: hsl(14, 86%, 42%);
}
.cart-section .cart-container .inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-section .cart-container .inner-container .js-cart-items-container {
  width: 100%;
}
.cart-section .cart-container .inner-container p {
  font-size: 0.8rem;
}

.cart-items {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
}
.cart-items .cart-item-details .name {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 5px;
}
.cart-items .cart-item-details .qty {
  font-size: 1.2rem;
  color: hsl(14, 86%, 42%);
}
.cart-items .cart-item-details .rate,
.cart-items .cart-item-details .amount {
  font-size: 1.2rem;
  color: hsl(7, 20%, 60%);
}
.cart-items .remove-cart-item-btn {
  border: 1px solid black;
  border-radius: 50%;
  padding: 3px;
}
.cart-items .remove-cart-item-btn:hover svg {
  fill: white;
}

.cart-svg {
  pointer-events: none;
}

.total-container {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.total-container h5 {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.475);
}

.delivery {
  display: flex;
  gap: 5px;
  width: 80%;
  border-radius: 5px;
  padding: 15px 10px;
  background-color: hsl(13, 31%, 94%);
  margin: 10px 0;
  font-size: 1.4rem;
}
.delivery .carbon {
  font-size: 1.3rem;
}

.confirm-order-btn, .modal-container .start-new-order-btn-container .start-new-order-btn {
  all: unset;
  text-align: center;
  display: flex;
  justify-content: space-around;
  width: 50%;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: hsl(20, 50%, 98%);
  border: 1px solid hsl(14, 86%, 42%);
  border-radius: 20px;
  padding: 8px 15px;
  margin: 10px 0;
  cursor: pointer;
}
.confirm-order-btn:hover, .modal-container .start-new-order-btn-container .start-new-order-btn:hover {
  background-color: hsl(14, 86%, 42%);
  color: hsl(20, 50%, 98%);
}

.close-svg {
  pointer-events: none;
  fill: hsl(14, 86%, 42%);
}
.close-svg:hover {
  fill: white;
}

.empty-icon {
  margin: auto;
}

.modal-container {
  background-color: hsl(20, 50%, 98%);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 40vw;
}
.modal-container .modal-header {
  padding: 20px 30px;
}
.modal-container .modal-header svg {
  margin-bottom: 10px;
}
.modal-container .modal-header p {
  color: hsl(7, 20%, 60%);
}
.modal-container .modal-body {
  margin: 10px 30px;
  background-color: hsl(13, 31%, 94%);
}
.modal-container .modal-body .order-food {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 10px 0;
}
.modal-container .modal-body .order-food .thumbnail {
  width: 70px;
  margin: 5px 5px;
}
.modal-container .modal-body .order-food .order-food-title {
  width: calc(100% - 70px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal-container .modal-body .total-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}
.modal-container .modal-body .total-amount .total-amount-pay {
  font-size: 1.3rem;
  font-weight: bold;
}
.modal-container .start-new-order-btn-container {
  width: 100%;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-container .start-new-order-btn-container .start-new-order-btn {
  width: 80%;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 900;
}

.hidden {
  display: none;
}

.open {
  display: block;
}

.second-btn {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.second-btn .increase-quantity,
.second-btn .decrease-quantity {
  width: 20px;
  height: 20px;
}

@media (max-width: 599px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}/*# sourceMappingURL=style.css.map */